python-telegram-bot
beautifulsoup4
croniter
dingtalk_stream
duckduckgo_search
google-generativeai
httpx
json_repair
kuzu
lark_oapi
litellm
lmdb
loguru
mistune
msgpack_python
mss
nh3
nio
numpy
oauth_cli_kit
openai
opencv-python
Pillow
playwright
prompt_toolkit
protobuf
psutil
pyautogui
pydantic
pydantic_settings
pynput
pytesseract
pytest
python-dotenv
python-socketio
python-telegram-bot
pywin32
qq_botpy
readability_lxml
redis
requests
rich
scikit_learn
slack_sdk
slackify_markdown
sounddevice
tiktoken
typer
websockets
google-genai
